<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-wysiwyg">
  <div class="container {{ options.fullWidth ? 'marginLeft-50 marginRight-50' : 'centerMaxWidthContainer' }}">
    <div class="content content--{{ textAlignment }} {{ options.fullWidth ? '' : 'centerContentMaxWidth' }}">
      {{ contentHtml }}
    </div>
  </div>
</div>
